#loan-table{
    margin-left: 20%;
    width: 60%;
    margin-top: .5rem;
}
#create-loan-button{
    width: 60%;
    margin-left: 20%;
    margin-top: .5rem;
}
#back-button{
    width: 10%;
    margin-left: 20%;
    margin-top: .5rem;
    flex: 1;
}
#next-button{
    width: 10%;
    margin-right: 20%;
    margin-top: .5rem;
    flex: 1;
}
#flex-parent{
    display: flex;
    gap: 40%;
}